.main {
    background: url("../../assets/Vector.png"),
      linear-gradient(
        41deg,
        #ffd5d2 0.83%,
        #fff2f1 14.56%,
        #ffe1df 23.58%,
        #fff 34.09%,
        #fff2f1 70.46%,
        #fff2f1 80.56%,
        rgba(248, 112, 96, 0.1) 86.25%
      );
      background-size: contain;
      height: 100%;
    background-repeat: no-repeat;
    flex-shrink: 0;
    fill: linear-gradient(
      41deg,
      #ffd5d2 0.83%,
      #fff2f1 14.56%,
      #ffe1df 23.58%,
      #fff 34.09%,
      #fff2f1 70.46%,
      #fff2f1 80.56%,
      rgba(248, 112, 96, 0.1) 86.25%
    );
}

.Table-Head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}